@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .form-input {
    @apply w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-xl;
  }
  .form-label {
    @apply block text-base font-medium mb-1;
  }
  .error-message {
    @apply text-red-500 text-sm mt-1;
  }
  .submit-button {
    @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-600 disabled:opacity-50 cursor-pointer;
  }
  .admin-dashboard-container {
    @apply py-6 min-h-fit w-full flex flex-col items-center justify-center px-4;
  }
  .full-shadow {
    @apply shadow-[0_0_6px_rgba(0,0,0,0.5)]
  }
} 